body {
  margin: 0;
  padding: 0;
  background: #a0a5a7;
  color: #080606;
  font-family: 'Raleway', Arial, Helvetica,
    sans-serif;
}

#root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
}
